@import "tailwindcss";

@theme {
  --color-alternate: #1b98e0;
  --color-primary: #2d3748;
  /* --color-secondary: #e8f1f2; */
  --color-secondary: #edf2f7;
  /* --color-accent: #e07a5f; */
  --color-accent: #d69e2e;
  --color-dark: #2d3748;
}
